<% provide(:title, "About") %>

<div class="container history">
  <div class="wrapper">
<h4 class="core-title text-center">Our History</h4>

    <ul class="history-timeline">
      <li>
        <div class="time">1998-2003</div>
        <p>The history of PEFA Church Kayole B dates back to March 1998 when Rev. and Mrs. Paul Munyiri founded the then Eastland Gospel Centre at Hot Sun Hall. The vision of Rev. Munyiri and the leadership was very clear: To make Eastland Gospel Centre be a Mission Centre church that would develop leaders and missionaries and release them to the field, serving God. As the ministry grew, a number of challenges were experienced and there were a lot of movements from one venue to another. Among the locations the Church found abode were Hot Sun Hall,the current Nasra Estate, Kayole 1 Social Hall before settling at the current location at Kayole,Rasta Stage, in 2003.</p>
      </li>
      <li>
        <div class="time">2003</div>
        <p>During the year 2003, the Church board made a decision to be part of a main stream church that the local leadership would be answerable to. It was becoming evident that there was a need to be in a larger family of believers, instead of continuing the solo pursuit of the mission. The Pastor and the leadership, after careful considerations, settled to approach PEFA, South East district Leadership to be considered for joining the PEFA family. This was finally approved by the district Board and the church was renamed as PEFA, Kayole B. It was put under probation for 6 months after which PEFA Kayole B was confirmed as a member of South East District PEFA Churches.</p>
      </li>
      <li>
        <div class="time">To the Future</div>
        <p>Join us in making and writing our future history.</p>
      </li>
    </ul>
  </div>
</div> 

<div class="container">
<section class="list--wrapper">
  <h4 class="core-title text-center">Our Core Values:</h4>
  <ul class="list">
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>We Are a Family</span></h2>
        <p class="list--link__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>Excellence in Service</span></h2>
        <p class="list--link__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>Sound Biblical Teachings</span></h2>
        <p class="list--link__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>A Learning Church</span></h2>
        <p class="list--link__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>God Centered Worship</span></h2>
        <p class="list--link__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
    <li class="list--item">
      <a href="javascript:void(0)" class="list--link">
        <h2 class="list--link__header"><span>Children Ministry</span></h2>
        <p class="list--link__description">Media queries are useful when you want to modify your site or app depending on a device's general type (sLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </a>
    </li>
  </ul>
</section>
</div>