<% provide(:title, "About") %>

<h1>Our History</h1>

<div class="container history">
  <div class="wrapper">
    <h1> Back to the Future 😅</h1>
    <ul class="history-timeline">
      <li>
        <div class="time">1998-2003</div>
        <p>The history of PEFA Church Kayole B dates back to March 1998 when Rev. and Mrs. Paul Munyiri founded the then Eastland Gospel Centre at Hot Sun Hall. The vision of Rev. Munyiri and the leadership was very clear: To make Eastland Gospel Centre be a Mission Centre church that would develop leaders and missionaries and release them to the field, serving God. As the ministry grew, a number of challenges were experienced and there were a lot of movements from one venue to another. Among the locations the Church found abode were Hot Sun Hall,the current Nasra Estate, Kayole 1 Social Hall before settling at the current location at Kayole,Rasta Stage, in 2003.</p>
      </li>
      <li>
        <div class="time">2003</div>
        <p>During the year 2003, the Church board made a decision to be part of a main stream church that the local leadership would be answerable to. It was becoming evident that there was a need to be in a larger family of believers, instead of continuing the solo pursuit of the mission. The Pastor and the leadership, after careful considerations, settled to approach PEFA, South East district Leadership to be considered for joining the PEFA family. This was finally approved by the district Board and the church was renamed as PEFA, Kayole B. It was put under probation for 6 months after which PEFA Kayole B was confirmed as a member of South East District PEFA Churches.</p>
      </li>
      <li>
        <div class="time">To the Future</div>
        <p>Join us in making and writing our future history.</p>
      </li>
    </ul>
  </div>
</div> 
