<h4 class="core-title text-center">New Blog</h4>
<%= render 'form', blog: @blog %>
<%= link_to 'Back to Blogs', blogs_path, :class => 'btn btn-info edit-button', :style=> 'margin:8px auto; display:block; width:60%;' %>