// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog-post{
	margin: auto;
	width:85%
}
.blog-edit{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 .blog-edit li {
 	display: inline-block;
 }

.blog-form {
	margin:0 auto;
	width:80%;
}

.edit-button {
	margin: 0 auto;
    display: block;
}

.blog-list {
	margin:0 auto;
	width:80%;
}